/* Selector de elementos*/
h1{
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* Selector de clase */

    .seccion2{
        color: red;
        text-transform: lowercase;
        text-align: center;
        font-size: 5rem;
    }

/* Selector de ID */

#seccion3{
    color: blue;
text-transform: uppercase;
text-align: center;
font-size: 6rem;
}

/* Selector de Atributo */
[src= "../proyectoinicio/img/Logo-Adecco.png"]{
    margin: 500px;
}

/* Selector de Cadena Descendente */
.seccion5 h4{
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

/* Selector de todos los hijos */

.seccion6>h5{
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem;
}

/* Selector Multiple */

.seccion7>h3, .seccion7 h6{
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;

}

.fondo-amarillo{
    height: 300px;
    background-color: yellow;
} 

.fondo-azul{
    height: 100px;
    background-color: blue;
}
